* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: grid;
    grid-template-columns: 50vh auto;
    grid-template-rows: 65vh;
}

.info {
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 10px;
    margin: 20px;
    font-family: 'Roboto', cursive;
}

img {
    max-width: 50vh;
    max-height: 80vh;
    margin: 10px;
    box-shadow: 6px 9px 10px 1px rgba(0, 0, 0, 0.75);
}

button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', serif;
    font-size: 15px;
    border-radius: 12px;
    background-color: black
}

button:hover {
    box-shadow: inset 0 -70px 0 0 #08B;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: auto auto;
    }
    .album {
        grid-column: 1;
        grid-row: 1;
        padding: 1%;
    }
    .info {
        border-radius: 8px;
        background-color: black;
        color: white;
        grid-column: 1;
        grid-row: 2;
        margin: 6px;
    }
    img {
        max-width: 30vh;
        
    }
}

@media only screen and (max-width: 300px) {
    .container {
        display: grid;
        grid-auto-columns: 500vh;
        grid-auto-rows: auto auto;
    }
    .album {
        padding: 1%;
        
    }
    .info {
        border-radius: 8px;
        color: black;
        background-color: white;
        margin: 5px;
        padding: 6px;
        font-size: 10px;
    }
    img {
        max-width: 90%;           
        align-content: center;

    }
    button {
        width: 100px;
        height: 50px;
    }
}