<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div class="container">
    <div class="navbar-up">

        <ul class="menu">
            <hr>
            <a class="logo" href="#">
                <li><i class="fas fa-music fa-xs"></i></li>
                <li>
                    <p class="tittle">MUSIFY</p>
                </li>
            </a>
            <hr>
            <a class="buscar" href="#">
                <li><i class="fas fa-search"></i></li>
                <li>Buscar</li>
            </a>
            <hr>
            <a class="logo" href="#">
                <li><i class="fas fa-star yellow"></i></li>
                <li>Artistas</li>
            </a>
            <hr>
            <a class="logo" href="#">
                <li><i class="fas fa-book"></i></li>
                <li>Albums</li>
            </a>
        </ul>
    </div>

    <div class="navbar-down">
        <ul class="submenu">
            <hr>
            <a class="active" href="#">
                <li><i class="fas fa-user"></i></li>
                <li>Admin</li>
            </a>

            <a class="active" href="#">
                <li><i class="fas fa-cog gray"></i></li>
                <li>Mis datos</li>
            </a>
            <hr>
            <a class="active" href="#">
                <li><i class="fas fa-sign-out-alt"></i></li>
                <li>Salir</li>
            </a>
        </ul>
    </div>
</div>